@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #eacf4f;
  border-radius: 5rem;
}

body {
  background: url(../image/background.jpg);
  background-attachment: fixed;
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
}

.heading h3 {
  font-size: 3rem;
  text-transform: uppercase;
  color: #fff;
  margin-top: 1rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  cursor: pointer;
  color: #fff;
  border: 0.2rem solid rgba(255, 255, 255, 0.3);
  background: no-repeat;
  font-size: 1.7rem;
  padding: 1rem 3rem;
}

.btn:hover {
  color: #000;
  background: #fff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #000;
  padding: 3rem 9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
}

.header .icons,
.cart-fixed
{
  font-size: 2.5rem;
  cursor: pointer;
  color: #fff;
  z-index: 10;
}

.header .icons:hover, 
.cart-fixed:hover i{
  color: #eacf4f;
}

.cart-fixed {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  position: fixed;
  bottom: 10%;
  right: 2%;
  
  background: #3d3d3d;
}

.cart-fixed a {
  color: #fff;
}

.header #menu-btn {
  display: none;
}

.header .navbar a {
  color: #fff;
  font-size: 2rem;
  margin: 0 2rem;
}

.header .navbar a:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
  color: #eacf4f;
}

.header .space {
  display: inline-block;
  width: 16rem;
}

.header .logo {
  position: absolute;
  top: 3rem;
  left: 49%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header .search-form {
  height: 7rem;
  padding: 0 2rem;
  border-top: 0.2rem solid rgba(255, 255, 255, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #000;
  position: absolute;
  top: 99%;
  left: 0;
  right: 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.header .search-form.active {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.header .search-form input {
  width: 100%;
  background: none;
  text-transform: none;
  font-size: 1.6rem;
  color: #fff;
}

.header .search-form label {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
}

.header .search-form label:hover {
  color: #eacf4f;
}

.header .fa-times {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.home{
  /* margin-top: 2rem; */
  background: url(../image/home-bg.png) no-repeat;
  background-size: contain;
  background-position: center;
}

.home .content {
  max-width: 70rem;
  text-align: center;
  margin: 0 auto;
}

.home .content img {
  width: 100%;
}

.home .content h3 {
  font-size: 4rem;
  text-transform: uppercase;
  color: #fff;
}

.home .content p {
  font-size: 1.7rem;
  line-height: 2;
  color: #aaa;
  padding: 2rem 0;
}

.services {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}

.services .box {
  text-align: center;
  padding: 2rem;
}

.services .box i {
  height: 7rem;
  width: 7rem;
  line-height: 7rem;
  font-size: 2rem;
  color: #000;
  background: #eacf4f;
  margin-bottom: 1rem;
  border-radius: 50%;
}

.services .box h3 {
  padding: 1rem 0;
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
}

.services .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #aaa;
}

.menu .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}

.menu .box-container .box {
  text-align: center;
}

.menu .box-container .box:hover img {
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
}

.menu .box-container .box img {
  height: 25rem;
}

.menu .box-container .box .content {
  padding: 1rem 0;
}

.menu .box-container .box .content .stars {
  margin-bottom: 2rem;
}

.menu .box-container .box .content .stars i {
  font-size: 1.7rem;
  color: #eacf4f;
}

.menu .box-container .box .content h3 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
}

.menu .box-container .box .content .price {
  font-size: 2rem;
  line-height: 2;
  color: #aaa;
}

@media (max-width: 1200px) {
  .header {
    padding: 3rem;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 2rem;
  }
  .header .logo {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    left: 3rem;
  }
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #000;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    display: block;
    margin: 3rem 2rem;
  }
  .header .navbar .space {
    display: none;
  }
  .home {
    background-size: cover;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
}

.about .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.about .image img {
  width: 100%;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.about .content .title {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #fff;
}

.about .content p {
  font-size: 1.5rem;
  line-height: 2;
  color: #aaa;
  padding: 2rem 0;
}

.about .content .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.about .content .icons h3 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 16rem;
          flex: 1 1 16rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #fff;
}

.about .content .icons h3 i {
  padding-right: .5rem;
  color: #eacf4f;
}

.reviews .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}

.reviews .box-container .box {
  text-align: center;
  padding: 2rem;
}

.reviews .box-container .box img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.reviews .box-container .box h3 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
}

.reviews .box-container .box p {
  font-size: 1.4rem;
  line-height: 2;
  color: #aaa;
  padding: 1rem 0;
}

.reviews .box-container .box .stars {
  padding-top: .5rem;
}

.reviews .box-container .box .stars i {
  font-size: 1.7rem;
  color: #eacf4f;
}

.contact .row {
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
}

.contact .row .map {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.contact .row .form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.contact .row .form .icons-container {
  display: flex;
  gap: 2rem;
  margin-bottom: 3rem;
}

.contact .row .form .icons-container .icons {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  text-align: center;
}

.contact .row .form .icons-container .icons i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  border-radius: 50%;
  background: #eacf4f;
  color: #000;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact .row .form .icons-container .icons h3 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  padding: 1rem 0;
}

.contact .row .form .icons-container .icons p {
  font-size: 1.5rem;
  line-height: 2;
  color: #aaa;
}

.contact .row .form form {
  text-align: center;
}

.contact .row .form form .box {
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  color: #fff;
  background: none;
  border: 0.2rem solid rgba(255, 255, 255, 0.3);
  text-transform: none;
  width: 100%;
  margin: .7rem 0;
}

.contact .row .form form .box:focus {
  border-color: #eacf4f;
}

.contact .row .form form textarea {
  height: 15rem;
  resize: none;
}

.blogs .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}

.blogs .box-container .box {
  position: relative;
}

.blogs .box-container .box:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blogs .box-container .box:hover .image .icons {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.blogs .box-container .box .image {
  height: 25rem;
  overflow: hidden;
  position: relative;
}

.blogs .box-container .box .image .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  -webkit-transform: translateY(10rem);
          transform: translateY(10rem);
}

.blogs .box-container .box .image .icons a {
  font-size: 1.5rem;
  color: #fff;
}

.blogs .box-container .box .image .icons a i {
  padding-right: .5rem;
  color: #eacf4f;
}

.blogs .box-container .box .image .icons a:hover {
  color: #eacf4f;
}

.blogs .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blogs .box-container .box .content {
  text-align: center;
  padding: 2rem;
}

.blogs .box-container .box .content h3 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
}

.blogs .box-container .box .content p {
  font-size: 1.5rem;
  line-height: 2;
  color: #aaa;
  padding: 1.5rem 0;
}

.footer {
  text-align: center;
  background: --webkit-gradient(linear, left top, left bottom, from(transparent), to(#000));
  background: linear-gradient(transparent, #000);
}

.footer .link a {
  margin: 1rem;
}

.footer .credit {
  font-size: 2rem;
  line-height: 2;
  color: #aaa;
  padding-top: 2rem;
}

.footer .credit span {
  color: #eacf4f;
}



/* ADD TO CART */
.modal {
  min-width: 100vw;
  min-height: 100vh;
  z-index: 102;
  background-color: rgba(66, 63, 63, 0.5);
  position: fixed;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  display: none;
  animation-name: fade-in;
  animation-duration: .5s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-200%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-container {
  position: relative;
  width: 72rem;
  height: 46rem;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  background-color: #eacf4f;
}

#modal .icons, .cart-container .icons {
  font-size: 2.5rem;
  cursor: pointer;
  color: #000;
  position: absolute;
  top: 0;
  right: 0;
  width: 4rem;
  height: 4rem;
  margin: 0.2rem;
  border-radius: 50%;
  z-index: 102;
  line-height: 4rem;
  text-align: center;
}

#modal .icons:hover, .cart-container .icons:hover  {
  background-color: #858891;
  color: #eacf4f;
}

.modal-image {
  border-right: 1px solid #f0f0f0;
}

.modal-image img {
  width: 40rem;
  height: 46rem;
  object-fit: fill;
}

.modal-detail {
  padding: 1.2rem;
}

.modal-detail .modal-title {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 4rem 0 0.7rem 0;
}

.modal-detail .modal-sub {
  color: #858891;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.modal-option .modal-detail-option:nth-child(2) {
  margin-top: 2rem;
}

.modal-detail-option {
  margin: 1.5rem;
  font-weight: bold;
}

.modal-detail-option p{
  margin: 0.5rem;
  font-size: 2rem;
}

.modal-detail-option .modal-input{
  display: flex;
  align-items: center;
  margin-left: 2rem;
  padding: 0.2rem;
}

.modal-detail-option .modal-input input{
  color: #3d3d3d;
  width: 2rem;
  height: 2.4rem;
}

.modal-detail-option .modal-input label{
  font-size: 1.6rem;
  margin-left: 0.7rem;

}

.modal-btn {
  width: 100%;
  height: 5rem;
  margin-top: 4rem;
  display: flex;
  gap: 1rem;
}

.modal-btn button {
  flex: 1;
  background-color: #f3152b;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: bolder;
  color: #fff;
}

.modal-btn button:hover {
  opacity: 0.8;
}

.modal-btn input {
  width: 30%;
  font-size: 2rem;
  background-color: #e9ecef;
  border-radius: 6px;
  padding-left: 2rem;
  margin-left: 2px;
  text-align: center;
  font-weight: bolder;
}

/* CART */
.cart {
  min-width: 30vw;
  min-height: 100vh;
  z-index: 101;
  background-color: #fff;
  position: fixed;
  right: 0;
  display: none;
  animation-name: fade-in-right;
  animation-duration: .5s;
  padding: 1rem;
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.cart-container .icons {
  width: 4rem;
  height: 4rem;
  font-size: 2.5rem;
  cursor: pointer;
  color: #000;
  z-index: 10;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem;
  margin: 1rem;
  border-radius: 50%;
  line-height: 2rem;
  text-align: center;
}

.cart-list-burger {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  overflow-y: scroll;
  height: 45rem;
  border-bottom: 1px solid #ccc;
}


.cart-list-burger::-webkit-scrollbar {
  width: 0.5rem;
}

.cart-list-burger::-webkit-scrollbar-track {
  background: transparent;
}

.cart-list-burger::-webkit-scrollbar-thumb {
  background: #eacf4f;
  border-radius: 8px;
}

.cart-product {
  display: flex;
  margin: 1rem;
  align-items: center;
  justify-content: space-between;
}

.wrap-cart-img {
  display: flex;
  align-items: center;
}

.cart-img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  overflow: hidden;
}

.cart-img img {
  width: 100%;
  height: 100%;
}

.cart-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 1.5rem;
}

.cart-text-name {
  font-size: 2rem;
  font-weight: 800;
}

.cart-text-price {
  font-size: 1.5rem;
}

.cart-btn {
  width: 100%;
  height: 5rem;
  margin-top: 4rem;
  display: flex;
  gap: 1rem;
  position: absolute;
  bottom: 0;
  margin-bottom: 2rem;
}

.cart-btn button {
  flex: 1;
  background-color: #f3152b;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: bolder;
  color: #fff;
}

.cart-btn button:hover {
  opacity: 0.8;
}

.cart-btn input {
  width: 40%;
  font-size: 2rem;
  background-color: #e9ecef;
  border-radius: 6px;
  padding-left: 1rem;
  margin-left: 2px;
  text-align: center;
  font-weight: bolder;
}

.amount {
  margin-left: 2rem;
}

.qt, .qt-plus, .qt-minus, .qt-x {
	display: block;
	float: left;
}

.qt {
	font-size: 19px;
	line-height: 50px;
	width: 50px;
	text-align: center;
}

.qt-plus, .qt-minus {
	background: #fcfcfc;
	border: none;
	font-size: 30px;
	font-weight: 300;
	height: 100%;
	padding: 0 1.5rem;
	transition: background .2s linear;
  border: 1px solid #ccc;
}

.qt-x {
  font-size: 1.5rem;
	font-weight: bold;
	height: 52px;
  line-height: 52px;
	padding: 0 1.5rem;
  margin-left: 1rem;
  border: 1px solid #ccc;
  cursor: pointer;
}

.qt-x:hover {
  background-color: #f3152b;
  color: #fff;
}

.qt-plus:hover, .qt-minus:hover {
	background: #53b5aa;
	color: #fff;
	cursor: pointer;
}

.qt-plus {
	line-height: 50px;
}

.qt-minus {
	line-height: 47px;
}

@media (max-width: 768px) {
  .home .content h3 {
    font-size: 2.5rem;
  }
  
  .modal-container {
    width: 50rem;
    height: 60rem;
  }

  .modal-container {
    flex-direction: column;
    overflow-y: scroll;
  }

  .modal-image {
    border-right: none;
    border-bottom: 1px solid #f0f0f0;
  }
  
  .modal-image img {
    width: 100%;
    height: 30rem;
    object-fit: contain;
  }

  .modal-container::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  .modal-container::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .modal-container::-webkit-scrollbar-thumb {
    background: #eacf4f;
    border-radius: 8px;
  }

  #modal .icons {
    color: #eacf4f;
  }

  .modal-detail .modal-title {
    font-size: 3rem;
    margin: 1rem 0 0.7rem 0;
  }

  .cart-text-name {
    font-size: 1.6rem;
    font-weight: 800;
  }

  .cart {
    min-width: 100vw;
  }

  .cart-container {
    padding: 1rem;
  }
  
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .home {
    background-size: cover;
  }
}
/*# sourceMappingURL=style.css.map */